@import "https://fonts.googleapis.com/css2?family=Cabin&family=Signika&display=swap";
@import "https://fonts.googleapis.com/css2?family=Cabin&family=Signika&display=swap";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf1D6;
  font-family: "Cabin", sans-serif;
  color: black;
  font-weight: normal;
  font-style: normal;
}
body h1 {
  color: black;
  padding: 40px;
  text-align: center;
  margin: 80px 40px 80px 40px;
  border: 20px solid black;
  font-weight: 300;
}
body h3 {
  font-size: 20px;
}
body h2 {
  margin: 0px;
}

.inicio {
  height: auto;
}

.imagenIni {
  width: auto;
}
.imagenIni img {
  height: auto;
  width: 100%;
}

.novedades {
  text-align: center;
  width: auto;
}
.novedades h2 {
  background-color: #7caa9b;
  color: white;
  border: 5px solid black;
  padding: 5px;
}
.novedades div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: #bf9780;
  text-align: left;
  border: solid 5px black;
  padding-left: 5px;
}
.novedades div h3 {
  color: black;
}
.novedades div p {
  color: black;
  font-weight: bolder;
  font-weight: 800;
  font-size: larger;
  width: auto;
}
.novedades img {
  width: auto;
  height: 400px;
}

.sugerencias h2 {
  color: white;
  text-align: center;
  background-color: #a68069;
  padding: 20px;
  border: solid 10px black;
  width: auto;
}

.productos img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.grilla div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  color: black;
  padding-bottom: 20px;
  font-size: larger;
}
.grilla div figcaption {
  background-color: #1b1b1a;
  width: 450px;
  color: white;
}

.Servicios h2 {
  text-align: center;
  background-color: #bf9780;
  padding: 10px;
  border: solid #1b1b1a 10px;
  color: #1b1b1a;
  font-weight: 750;
}

.Servicios1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: solid 20px #1b1b1a;
  border: solid 20px #1b1b1a;
}
.Servicios1 div {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  background-color: #1b1b1a;
  color: #faf1D6;
}

.PeinadosImg {
  background-color: #1b1b1a;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PeinadosImg img {
  width: 70%;
}

.nosotras .historiaEstilo, .nosotras .historia1 p, .nosotras .historia p {
  width: 100%;
  color: black;
  font-size: x-large;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 0px;
}
.nosotras .historia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: solid #7caa9b 20px;
  background-color: #1b1b1a;
}
.nosotras .historia p {
  background-color: #7caa9b;
}
.nosotras .historia1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: solid #a68069 20px;
  background-color: #1b1b1a;
}
.nosotras .historia1 p {
  background-color: #a68069;
}

@media screen and (min-width: 992px) {
  .historiaMedia, .nosotras .historia1 p, .nosotras .historia p {
    width: 50%;
    color: black;
    font-size: x-large;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
  }
  header {
    background-color: #1b1b1a;
    color: aliceblue;
    padding: 0px 10px 0px 0px;
    border-bottom: solid 4px white;
    width: auto;
  }
  .logobarra {
    height: 70px;
    width: 170px;
  }
  .logoface {
    height: 32px;
    width: 32px;
  }
  .logoinsta {
    height: 39px;
    width: 39px;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
  }
  ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: aliceblue;
  }
  .imagenIni {
    grid-area: imagenIni;
    height: 100%;
    width: 100%;
  }
  .imagenIni img {
    height: 100%;
    width: 96%;
  }
  .novedades {
    grid-area: novedades;
    text-align: center;
    height: auto;
  }
  .novedades h2 {
    background-color: #7caa9b;
    color: white;
    border: 5px solid black;
    padding: 5px;
  }
  .novedades div {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #bf9780;
    text-align: center;
    border: solid 5px black;
    padding-left: 5px;
  }
  .novedades div h3 {
    color: black;
  }
  .novedades div p {
    color: black;
    font-weight: bolder;
    font-weight: 800;
    font-size: larger;
  }
  .novedades img {
    width: 55%;
    height: 100%;
  }
  .sugerencias {
    grid-area: sugerencias;
    padding-bottom: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .sugerencias h2 {
    color: white;
    text-align: center;
    background-color: #a68069;
    padding: 20px;
    border: solid #1b1b1a 10px;
  }
  .sugerencias1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #d8af97;
    border: 10px solid #1b1b1a;
  }
  .sugerenciasTitulo {
    width: 100%;
  }
  .carousel-item-tips {
    border: 15px solid whitesmoke;
  }
  .carousel-item-tips img {
    height: 500px;
  }
  .carril {
    grid-area: carril;
  }
  .inicio {
    height: auto;
    display: grid;
    grid-template-areas: "carril carril" "imagenIni novedades" "sugerencias sugerencias";
    grid-template-columns: 45% auto;
    grid-template-rows: 1fr auto auto;
  }
  .nosotras {
    border-top: solid 2px #1b1b1a;
  }
  .grilla {
    height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% auto;
    gap: 10px;
    padding-bottom: solid 10px;
  }
  .grilla div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    text-align: center;
  }
  .grilla div:hover figcaption {
    display: block;
  }
  .grilla div figcaption {
    display: none;
    position: absolute;
    top: 40%;
    text-align: center;
    background-color: white;
    color: black;
    width: 80%;
  }
  .grilla section {
    font-weight: bold;
  }
  .productos {
    border-top: solid 2px #1b1b1a;
    height: auto;
  }
  .productos img {
    height: 330px;
    width: 330px;
    border-radius: 10px;
  }
  .imagen:hover {
    filter: opacity(0.4);
  }
  .PeinadosImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-left: solid 20px #7caa9b;
    border-right: solid 20px #7caa9b;
  }
  .PeinadosImg img {
    width: 400px;
    height: 400px;
  }
  .Servicios {
    border-top: solid 2px #1b1b1a;
    border-bottom: 10px solid #faf1D6;
  }
  .Servicios h2 {
    text-align: center;
    background-color: #1b1b1a;
    color: white;
    border: solid 20px #7caa9b;
  }
  .Servicios1 {
    list-style-type: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #1b1b1a;
    color: white;
    padding: 30px 30px 30px 30px;
    border: 10px solid #7caa9b;
    border-left: 20px solid #7caa9b;
    border-right: solid 20px #7caa9b;
  }
  .agenda {
    border-top: solid 2px #1b1b1a;
  }
  .agenda fieldset {
    width: 450px;
  }
  .agenda div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #bf9780;
    color: black;
    border-left: 20px solid black;
    border-right: 20px solid black;
    padding: 5px;
    width: 450px;
    height: 40px;
  }
  .nosotras .historia {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border: solid #7caa9b 20px;
    background-color: #1b1b1a;
  }
  .nosotras .historia p {
    background-color: #7caa9b;
  }
  .nosotras .historia1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border: solid #a68069 20px;
    background-color: #1b1b1a;
  }
  .nosotras .historia1 p {
    background-color: #a68069;
  }
}

/*# sourceMappingURL=estilo.css.map */
