.historiaStilo{
    width: 100%;
	color: $color_1;
	font-size: x-large;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 0px;
}

.historiaMedia{
    width: 50%;
	color: $color_1;
    font-size: x-large;
    font-weight: 700;
    padding: 20px;
	border-radius: 5px;
}
