.inicio {
	height: auto;
}
.imagenIni {
	width: auto;
	img {
		height: auto;
		width: 100%;
	}
}

.novedades {
	text-align: center;
	width: auto;
	h2 {
		background-color: $background-color_2;
		color: $color_2;
		border: 5px solid black;
		padding: 5px;
	}
	div {
		h3 {
			color: $color_1;
		}
		height: 100%;
		@include flex(center, center, column-reverse);
		background-color: $background-color_3;
		text-align: left;
		border: solid 5px black;
		padding-left: 5px;
		p {
			color: $color_1;
			font-weight: bolder;
			font-weight: 800;
			font-size: larger;
			width: auto;
		}
	}
	img {
		width: auto;
		height: 400px;
	}
}
.sugerencias {
	h2 {
		color: $color_2;
		text-align: center;
		background-color: $background-color_4;
		padding: 20px;
		border: solid 10px black;
		width: auto;
	}
}