$color_1: black;
$color_2: white;
$color_3: aliceblue;
$font-family_1: 'Cabin', sans-serif;
$background-color_1: #faf1D6;
$background-color_2: #7caa9b;
$background-color_3: #bf9780;
$background-color_4: #a68069;
$background-color_5: #1b1b1a;
$background-color_6: #d8af97;
$background-color_7: white;

.nosotras{
    	.historia{
			@include flex(center, space-around, column);
        	border: solid $background-color_2 20px;
        	background-color: #1b1b1a;
        	p{
            	background-color: $background-color_2;
	        	@extend .historiaStilo;
        	}
		}
		.historia1{
		@include flex(center, space-around, column);
        border: solid $background-color_4 20px;
        background-color: #1b1b1a;
			p{
            	background-color: $background-color_4;
	        	@extend .historiaStilo;
        	}
		}
}
