
$color_1: black;
$color_2: white;
$color_3: aliceblue;
$font-family_1: 'Cabin', sans-serif;
$background-color_1: #faf1D6;
$background-color_2: #7caa9b;
$background-color_3: #bf9780;
$background-color_4: #a68069;
$background-color_5: #1b1b1a;
$background-color_6: #d8af97;
$background-color_7: white;

.productos {
	img {
		height: 70%;
		width: 80%;
		border-radius: 10px;
	}
}
.grilla {
	div {
		figcaption {
			background-color: $background-color_5;
			width: 450px;
			color: $color_2;
			width: auto
		}
		@include flex(center, center, column);
		text-align: justify;
		color: $color_1;
		padding-bottom: 20px;
		font-size: larger;
	}
}